* {
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Outfit", sans-serif;
  font-family: "Raleway", sans-serif;
  font-family: "Red Hat Display", sans-serif;
  background-color: hsl(212, 45%, 89%);
  justify-content: center;
  display: flex;
}
.qrcode {
  margin-top: 5em;
  border: 1px solid #fff;
  width: 320px;
  background-color: #fff;
  padding: 20px;
  border-radius: 18px;
  display: flex;
  text-align: center;
}

.img{
  border-radius: 18px;
  width: 275px;
}
.Heading {
  color: hsl(218, 44%, 22%);
  font-size: 16px;
  font-weight: 700;
  margin-top: 15px;
}
.description {
  color: hsl(220, 15%, 55%);
  font-size: 15px;
  font-weight: 400;
  padding: 17px;
}
